<div class="epRequestFormBody">
  <form class="epRequestForm" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div *ngIf="success" class="alert alert-success">{{ success }}</div>
  <div class="text-center">
    <img src="assets/logo.png" alt="" width="150" height="150">
    <h1 class="h3 font-weight-normal">Raise a request</h1>
    <p>We are here to connect with your needs</p>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="beneficiary">Beneficiary</label>
      <input type="text" class="form-control" formControlName="beneficiary" id="beneficiary" [ngClass]="{
              'is-invalid': submitted && formValidation.beneficiary.errors}">
    </div>
    <div class="form-group col-md-4">
      <label for="requestType">Select your needs</label>
      <select id="requestType" class="form-control" formControlName="requestType">
        <option selected>Select</option>
        <option>Food</option>
        <option>Medical Needs</option>
        <option>Medical Emergency</option>
        <option>Shelter</option>
        <option>Emergency</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="requestDetails">Please provide the detail request</label>
      <input type="text" class="form-control" formControlName="requestDetails" id="requestDetails" [ngClass]="{
              'is-invalid': submitted && formValidation.requestDetails.errors}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fieldContactNumber">Field Contact number</label>
      <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">+91</span>
      </div>
      <input type="text" class="form-control" formControlName="fieldContactNumber" id="fieldContactNumber" [ngClass]="{
              'is-invalid': submitted && formValidation.fieldContactNumber.errors}">
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="fieldContactMode">Field contact mode</label>
      <select id="fieldContactMode" class="form-control" formControlName="fieldContactMode">
        <option selected>Phone</option>
        <option>Whats-app</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 text-primary text-center mt-3">
      <label for="requestDetails">Please provide your details</label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="raisedBy">Raised by</label>
      <input type="text" class="form-control" formControlName="raisedBy" id="raisedBy" [ngClass]="{
              'is-invalid': submitted && formValidation.raisedBy.errors}">
    </div>
    <div class="form-group col-md-4">
      <label for="contactNumber">Contact number</label>
      <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">+91</span>
      </div>
      <input type="text" class="form-control" formControlName="contactNumber" id="contactNumber" [ngClass]="{
              'is-invalid': submitted && formValidation.contactNumber.errors}">
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="modeOfContact">Contact Mode</label>
      <select id="modeOfContact" class="form-control" formControlName="modeOfContact">
        <option selected>Phone</option>
        <option>Whats-app</option>
      </select>
    </div>
  </div>

    <div class="form-row">
      <div class="col-md-12 text-center text-success mt-2 mb-2">
        <p class="epCursor"><a (click)="directToLogin()">NGO/Volunteer? Click here</a></p>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 text-center text-success mt-2 mb-2">
        <button class="btn btn-primary" type="submit">Raise Request</button>
      </div>
    </div>
  </form>
</div>
