<div class="epRegistrationBody">
  <form class="epRegistrationForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" *ngIf="isSignIn">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div *ngIf="success" class="alert alert-success">{{ success }}</div>

    <div class="text-center">
      <img src="assets/logo.png" alt="" width="150" height="150">
      <h1 class="h3 font-weight-normal">Please fill the registration form</h1>
      <p>Platform to connect help and helping hands together for a right cause</p>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="name">Name</label>
        <div class="input-group mb-3">
          <input type="text" id="name" class="form-control" formControlName="name" aria-label="Name"
            aria-describedby="basic-addon1" [ngClass]="{
              'is-invalid': submitted && formValidation.name.errors}">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phoneNumber">Mobile number</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+91</span>
          </div>
          <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber"
                 aria-label="Mobile number" aria-describedby="basic-addon1" [ngClass]="{
              'is-invalid': submitted && formValidation.phoneNumber.errors}">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="modeOfContact">Contact Mode</label>
        <select id="modeOfContact" class="form-control" formControlName="modeOfContact">
          <option selected>Phone</option>
          <option>Whats-app</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" id="password" [ngClass]="{
          'is-invalid': submitted && formValidation.password.errors}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="volunteer" formControlName="volunteer" value="volunteer">
          <label class="form-check-label" for="volunteer">Volunteer</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="ngo" id="ngo" value="ngo">
          <label class="form-check-label" for="ngo">NGO</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="agree" formControlName="agreement" id="agreement"
            [ngClass]="{
            'is-invalid': submitted && formValidation.agreement.errors}" required>
          <label class="form-check-label" for="agreement">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12 text-center">
        <button class="btn btn-primary" id="registerButton" type="submit">Register</button>
      </div>
    </div>
    <div class="form-row mt-5 mb-3 text-center">
      <div id="recaptcha-container"></div>
    </div>
    <p class="mt-5 mb-3 text-muted text-center"> e-Paalam &copy; 2020</p>
  </form>
    <form class="epRegistrationForm" [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()" *ngIf="!isSignIn">
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <div *ngIf="success" class="alert alert-success">{{ success }}</div>

      <div class="text-center">
        <img src="assets/logo.png" alt="" width="300" height="300">
        <h1 class="h3 font-weight-normal">Please enter the received OTP</h1>
        <p>Please provide a working mobile number for hassle free verification</p>
      </div>

       <div class="form-row">
        <div class="form-group col-md-12">
          <label for="verificationPhoneNumber">You will receive OPT in</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="prependAddon">+91</span>
            </div>
            <input type="text" id="verificationPhoneNumber" class="form-control"
                   aria-label="Mobile number" aria-describedby="basic-addon1" value={{phoneNumber}} disabled>
            <div class="input-group-append">
              <span class="input-group-text" id="append">Edit</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="otp">OTP</label>
          <div class="input-group mb-3">
            <input type="text" id="otp" class="form-control" formControlName="otp"
                   aria-label="otp"  [ngClass]="{
          'is-invalid': submitted && otpFormValidation.otp.errors}">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 text-center">
          <button class="btn btn-primary" id="verifyOTP" type="submit">Verify</button>
        </div>
      </div>

    </form>
</div>
