<div class="epLoginBody">
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div *ngIf="success" class="alert alert-success">{{ success }}</div>
  <form class="epLoginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4">
      <img class="mb-4" src="assets/logo.png" alt="" width="300" height="300">
      <h1 class="h3 mb-3 font-weight-normal">Login with your phonenumber</h1>
      <p>Platform to connect help and helping hands together for a right cause</p>
    </div>

    <div class="form-group col-md-12">
      <label for="phoneNumber">Mobile number</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">+91</span>
        </div>
        <input type="text" formControlName="phoneNumber" id="phoneNumber" class="form-control" [ngClass]="{
            'is-invalid': submitted && formValidation.phoneNumber.errors}" aria-label="Mobile number"
          aria-describedby="basic-addon1">
      </div>
      <div *ngIf="submitted && formValidation.phoneNumber.errors" class="invalid-feedback">
        <div *ngIf="formValidation.phoneNumber.errors.required">
          Phone Number is required
        </div>
      </div>
    </div>


    <div class="form-group col-md-12">
      <label for="password">Password</label>
      <div class="input-group mb-3">
        <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{
            'is-invalid': submitted && formValidation.password.errors}" aria-label="password"
          aria-describedby="basic-addon1">
      </div>
      <div *ngIf="submitted && formValidation.password.errors" class="invalid-feedback">
        <div *ngIf="formValidation.password.errors.required">
          Password is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="mt-2 mb-5 text-muted text-center epCursor"><a (click)="openPasswordReset()">Forgot password?</a></p>
      </div>
      <div class="col-6">
        <p class="mt-2 mb-5 text-muted text-center epCursor"><a (click)="openRegistration()">New registration</a></p>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center"> e-Paalam &copy; 2020</p>
  </form>
</div>
