.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #e9ecef;
}

.sidenav {
  width: 250px;
  background: #ffffff;
}

.sidenav .mat-toolbar {
  background: #f3f3f3;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
}

a,
span,
.mat-toolbar,
.sidenav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}

.ccSpace {
  /* This fills the remaining space, by using flexbox.  */
  /* Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.btn-secondary {
  background-color: #000;
}
