<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar><img src="assets/logoText.png" alt="" width="150"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['active']" (click)="navigateTo('request')">Request</a>
      <a mat-list-item [routerLinkActive]="['active']" (click)="navigateTo('approve')">Approve Users</a>
      <a mat-list-item [routerLinkActive]="['active']" (click)="navigateTo('profile')">Profiles</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="ccSpace"></span>

      <button type="button" class="btn btn-secondary pull-right " (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
